search_tool/model/*.safetensors filter=lfs diff=lfs merge=lfs -text
search_tool/artifacts/products.parquet filter=lfs diff=lfs merge=lfs -text
search_tool/artifacts/retrieval_index/* filter=lfs diff=lfs merge=lfs -text
